spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/questions_generator_db
    username: app_user
    password: postgres
    driver-class-name: org.postgresql.Driver

  docker:
    compose:
      enabled: false

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: questions
